/.idea

/phpunit.phar
/phpunit.xml

/vendor/

/log/*
!/log/.gitkeep

/cache/*
!/cache/.gitkeep

/generated/*

/config/*.local.php

/config/autoload/local.php
/config/autoload/local.php.dist

.env
.env.local
.env.*.php
!.env.example

/.vscode/
/.phpstorm.meta.php/